<div style="display: block;">
  <label for="initialInvestment">Initial investment:</label>
  <input #initialInvestment>

  <label for="monthlyInvestment">Monthly investment:</label>
  <input #monthlyInvestment>

  <label for="targetValue">Target value:</label>
  <input #targetValue>

  <label for="years">Years:</label>
  <input #years>

  <label for="years">Risk:</label>
  <input #risk>


  <button (click)="processResults(initialInvestment.value, monthlyInvestment.value, targetValue.value, years.value, risk.value)">Add</button>
</div>

<div style="display: block;">
  <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
